.button-function {
    border: 1px solid black;
    text-decoration: none;
    color: var(--tekst-clr);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;
    padding: 15px 45px;
    background-color: var(--btn-clr-secondary);
}


.button-push {
    background-color: var(--btn-clr-first);
    color: var(--tekst-clr);
    border: 5px solid var(--white);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;;
    height: 200px;
    width: 200px;
    margin-block: 20px;
}

.button-function__login-active {
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;;
    color: var(--tekst-clr);
    background-color: var(--btn-clr-first);
    padding: 15px 250px;
}

.button-function__login-default {
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;;
    color: var(--tekst-clr);
    background-color: var(--background-clr-first);
    padding: 15px 50px;
}

.button-function:disabled {
    opacity: 0.5;
}

.button-function:hover,
.button-push:hover,
.button-function__login-default:hover {
    cursor: pointer;
    color: var(--white);
}
