.about__div-container {
    padding: 50px;
    background-color: var(--background-clr-first);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 40px;

}

.about__div-box {
    max-width: 800px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__article {
    border-radius: 20px;
    background-color: var(--background-clr-secondary);
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    row-gap: 30px;
}

.about__article > ul {
    list-style-type: square;
    padding-inline: 40px;
}

.about__img-wrapper {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1200px) {
    .about--div__container {
        flex-direction: column;
    }

    .about--imgwrapper {
        max-width: 400px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}