.login__form {
    padding-block: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 50px;
}

.login__form > a {
    position: relative;
    top: -40px;
    left: 0;
}

.login__div {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

