.product-review__card {
    border-radius: 20px;
    background-color: var(--background-clr-secondary);
    width: 1200px;
    height: 400px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product-review__img-wrapper {
    width: 225px;
    display: flex;
    margin-inline: 20px;
    padding-block: 20px;
}

.product-review__div {
    height: 100%;
    padding: 20px 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*.product-review__star {*/
/*    position: relative;*/
/*    top: 0;*/
/*    left: 25px;*/
/*}*/

.product-review__star:hover {
    cursor: pointer;
}

/*-----------Styling form-----------*/
.product-review__form {
    display: flex;
    flex-direction: column;
}

.product-review__textarea {
    background-color: var(--background-clr-secondary);
    border: none;
    resize: none;
}

.product-review__label {
    display: flex;
    flex-direction: column;
}

.product-review__input {
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;
    border-radius: 10px;
    padding-block: 10px;
    margin: 5px 10px;
    text-align: center;
    background-color: var(--background-clr-secondary);
    width: 50px;
}

@media screen and (max-width: 1200px) {
    .product-review__card {
        width: 992px;
        height: auto;
        flex-direction: column;
    }

    .product-review__div {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }
}

@media screen and (max-width: 992px) {
    .product-review__card {
        width: 750px;
    }
}