/*Start positioning upper home page*/
.home__article-upper {
    border: 2px solid black;
    padding: 150px 100px;
    background-color: var(--background-clr-first);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home__div-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
}

.home__img-wrapper {
    width: 750px;
    display: flex;
}
/*End positioning upper home page*/

/*Start positioning bottom home page*/
.home__article-bottom {
    padding: 150px 300px;
    background-color: var(--btn-clr-first);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
/*End positioning bottom home page*/

@media screen and (max-width: 992px) {
    .home__article-upper {
        flex-direction: column;
        padding: 75px 50px;
    }

    .home__img-wrapper {
        width: 375px;
    }

    .home__article-bottom {
        padding: 75px 150px;
    }

    .home__article-bottom > h2 {
        font-size: 36px;
    }
}