.navbar-container {
    background-color: var(--background-clr-secondary);
    height: 200px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.img-wrapper-logo {
    width: 100px;
    display: flex;
}