/*soort page container waardoor lay out elke pagina zelfde is
eventueel voor de img erbij
en voor de main en header*/
.container {
    min-width: 1440px;
    margin-block: auto;
    padding-inline: 2rem;
}

.button-link {
    border: 1px solid black;
}

.button-function {
    border: 1px solid black;
}