/*soort page container waardoor lay out elke pagina zelfde is
eventueel voor de img erbij
en voor de main en header*/
.container {
    min-width: 1440px;
    margin-block: auto;
    padding-inline: 2rem;
}

.main--container__outer {
    padding-block: 50px;
    background-color: var(--background-clr-first);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
}

.button-function {
    border: 1px solid black;
    text-decoration: none;
    color: var(--tekst-clr);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;
    padding: 15px 45px;
    background-color: var(--btn-clr-secondary);
}

.button-function:hover {
    cursor: pointer;
    color: var(--white);
}

.link-main {
    color: var(--btn-clr-first);
}

.input-text-field {
    border: none;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;
    padding: 25px 25px;
    min-width: 800px;
}

.footer-container {
    background-color: var(--tekst-clr);
    color: var(--btn-clr-first);
    height: 150px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/*CSS for product vcard*/
.wrapper-product-img {
    width: 300px;
    height: 400px;

    display: flex;
    border: 1px solid darkred;
    flex-grow: 0;
    flex-shrink: 1;
}

.card-product {
    border: 1px solid black;
    padding-inline: 40px;
    background-color: var(--background-clr-secondary);
    max-width: 1200px;
    height: 500px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.star-product {
    position: relative;
    top: -175px;
    left: 0;
}

.text-box-product {
    background-color: var(--background-clr-secondary);
    border: none;
    resize: none;
}

.label-style-product {
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {
    .card-product {
        max-width: 800px;
    }

    .text-box-product {
        max-width: 500px;

    }
    .container {
        min-width: 900px;
    }
}