/*soort page container waardoor lay out elke pagina zelfde is
eventueel voor de img erbij
en voor de main en header*/
.container {
    min-width: 1440px;
    margin-block: auto;
    padding-inline: 2rem;
}

.main--container__outer {
    padding-block: 50px;
    background-color: var(--background-clr-first);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
}
