/*Global styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
/*diverse kleuren variabelen*/
}

body {
/*font-family*/
/* fontweight*/
}

img {
  /*max-width: 100%;*/
}

a {

}
button, input, select, textarea {
  /*font-family: inherit;*/
}

/*Typography*/
h1 {

}

h2, h3, h4, h5, h6 {

}
