@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/*Global styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
/*diverse kleuren variabelen*/
}

body {
  font-family: "Montserrat" , sans-serif;
  font-weight: 600;
  font-optical-sizing: auto;
  font-style: normal;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {

}
button, input, select, textarea {
  /*font-family: inherit;*/
}

/*Typography*/
h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 96px;
}

h2, h3, h4, h5, h6 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}
